body{
    font-size: 1.125rem;
    margin: 0;
    color: #707070;
   
}
h1{
    font-size: 3rem;
    color:#212614;
    text-align: center;
}
h1 span{
    color: #b7832f;
}
p{
    margin-top: 0;
}
h2{
    font-size: 1.5rem;
}

img{
    max-width: 100%; 
}
.container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto ;
}
.columns{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em 0;
}
@media(max-width:600px){
    .columns{
        flex-direction: column;
    }
}

.col-1{
    width:20%;
}
.col-2{
    width: 45%;
}
.col-3{
width: 70%;
}
@media(max-width:600px){
.col-1,.col-2,.col-3{
    width: 100%;
}
}
.col-bg{
    background-color: yellow;
    padding: 1em;
}